.setup_2-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(100, 179, 102);
}

.setup_2-table {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-55%, 400px);
}

.setup_2-table .table {
    width: 60vw;
}

.setup_2-table .apparatus-1 {
    position: absolute;
    top: -35%;
    left: 150px;

}

.setup_2-table .apparatus-1 img {
    width: 150px;
}

.setup_2-table .apparatus-1 .waterstrip {
    width: 80px;
    height: 100px;
    position: absolute;
    left: 80px;
    top: -50px;
    opacity: 0.8;
    cursor: pointer;
    transition: height 2s linear;
    visibility: hidden;
}



.setup_2-table .apparatus-2 {
    min-width: 200px;
    min-height: 200px;
    position: absolute;
    top: -80px;
    left: 60%;

}

.setup_2-table .apparatus-2 .bottle {
    width: 120px;
    position: absolute; 
}

.apparatus-2-bottle {
    animation: drop_water 3s linear 5ms both;
}

.apparatus-2-backPositionBeaker {
    animation: backBeakerPosition 3s linear forwards;
}

.setup_2-table .apparatus-2 .cap {
    width: 48px;
    position: relative;
    left: 37px;
    top: 7px;
}

.apparatus-2-cap-move-forwards {
    animation: animation_app_2 3s linear forwards;
}

.apparatus-2-cap-move-backwards {
    animation: animation_app_2 3s linear reverse;
}

/* Line X Y  */
.line-y-z {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line {
    width: 20px;
    height: 2px;
    background-color: rgb(189, 235, 5);
}



@keyframes animation_app_2 {
    0% {
        left: 37px;
        top: 7px;
    }

    25% {
        left: 37px;
        top: -20px;
    }

    50% {
        left: 90%;
        top: -20px;
    }

    100% {
        left: 90%;
        top: 160px;
    }
}

@keyframes drop_water {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: -130%;
        left: 0;
        transform: rotateZ(-70deg);
    }

    100% {
        top: -130%;
        left: -136%;
        transform: rotateZ(-70deg);
    }
}

@keyframes backBeakerPosition {

    0% {
        top: -130%;
        left: -136%;
        transform: rotateZ(-70deg);
    }

    50% {
        top: -130%;
        left: 0;
        transform: rotateZ(0deg);
    }

    100% {
        top: 0;
        left: 0;
        transform: rotateZ(0deg);
    }

}