.message-box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
 
.message-img { 
    width: 100%; 
    animation: message_open 3s ease-in-out 0.5ms forwards;
    border: 1px solid red;
}

.msg-close-btn {
    position: absolute;
    top: 80px; 
    right: 40px; 
    padding: 10px 20px;
    background-color: #ffff ;
    border: none;
    border-radius: 10px;
}


/* ----------- Animation ------------- */
@keyframes message_open {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}