.setup_3-table {
    /* border: 2px solid red; */
}

.apparatus-2  .bottle.half-water-with-cap{
  top: 30px;
}



.setup_3-cylinder span {
    position: absolute;
    right: 3px;
    color: yellow;
    font-size: 20px;
}

#mark_y {
    top: 45px;
}

#mark_Z {
    top: 130px;
}

.measurement-value {
    background-color: #ffff;
    padding: 8px 10px;
    border-radius: 8px;

    position: absolute;
    top: -300px;
    left: -100px;
}

.measurement-value span {
    color: red;
}

.apparatus-screw-gauge {
    position: absolute;
    top: 30px;
    right: 80px;
    transform: rotateX(60deg);
    width: 110px;
}



.apparatus-screw-gauge-measurement {
    animation: measurement 3s linear 1s 1 forwards;
}

@keyframes measurement {
    0% {
        transform: rotateX(60deg);
        top: 30px;
        right: 80px;
        width: 110px;
    }

    25% {
        transform: rotateX(40deg);
        top: -40px;
        right: 120px;
        width: 160px;
    }

    50% {
        transform: rotateX(30deg);
        top: -100px;
        right: 150px;
        width: 210px;
    }

    75% {
        transform: rotateX(15deg);
        top: -200px;
        right: 200px;
        width: 260px;
    }


    100% {
        transform: rotateX(0deg);
        top: -280px;
        right: 270px;
        width: 300px;
    }
}

/* ball item  */

.ball {
    position: absolute;
    top: 80px;
}

.ball-1 {
    width: 40px;
    left: 350px;
    /* animation: ball_1_move_measu 5s linear 5ms 1 forwards; */
}

.ball-1-animation {
    animation: ball_1_animation 3s linear 3ms 1 forwards;
}

.ball-2 {
    width: 45px;
    left: 403px;
    /* animation: ball_2_move_measu 5s linear 5ms 1 forwards; */
}

.ball-2-animation {
    animation: ball_2_animation 3s linear 3ms 1 forwards;

}

.ball-3 {
    width: 50px;
    left: 460px;
}

.ball-3-animation {
    animation: ball_3_animation 3s linear 3ms 1 forwards;
}


@keyframes ball_1_animation {
    0% {
        top: 80px;
        left: 350px;
        width: 45px;
    }

    50% {
        top: -100px;
        left: 390px;
        width: 20px;
    }

    100% {
        top: -220px;
        left: 419px;
        width: 10px;
    }
}

@keyframes ball_2_animation {
    0% {
        top: 80px;
        left: 403px;
    }

    50% {
        top: -100px;
        left: 412px;
        width: 20px;
    }

    100% {
        top: -220px;
        left: 419px;
        width: 10px;
    }
}

@keyframes ball_3_animation {
    0% {
        top: 80px;
        left: 460px;
        width: 50px;
    }

    50% {
        top: -100px;
        left: 440px;
        width: 30px;
    }

    100% {
        top: -220px;
        left: 419px;
        width: 10px;
    }
}

/* Stop Watch Setion Css */
.stopwatch {
    position: absolute;
    top: -200px;
    left: -60px;
    width: 100px;
}

/* ------ ball move for measurement  */

.ball-1-move-measu {
    animation: ball_1_move_measu 5s linear 5ms 1 forwards;
}

.ball-2-move-measu {
    animation: ball_2_move_measu 5s linear 5ms 1 forwards;
}

.ball-3-move-measu {
    animation: ball_3_move_measu 5s linear 5ms 1 forwards;
}

@keyframes ball_1_move_measu {
    0% {
        top: 80px;
        left: 350px;
    }

    20% {
        top: -300px;
        left: 350px;
        opacity: 1;
    }

    40% {
        top: -300px;
        left: 235px;
        width: 40px;
        opacity: 1;
    }

    50% {
        top: -200px;
        left: 235px;
        width: 25px;
        opacity: 1;
    }

    60% {
        top: -190px;
        left: 235px;
        width: 25px;
        opacity: 0.6;
    }

    80% {
        top: -150px;
        left: 235px;
        width: 25px;
        opacity: 0.6;

    }

    100% {
        top: -80px;
        left: 235px;
        width: 25px;
        opacity: 0.6;
    }
}

@keyframes ball_2_move_measu {
    0% {
        top: 80px;
        left: 403px;
    }

    20% {
        top: -300px;
        left: 403px;
        opacity: 1;
    }

    40% {
        top: -300px;
        left: 235px;
        width: 40px;
        opacity: 1;
    }

    50% {
        top: -200px;
        left: 235px;
        width: 25px;
        opacity: 1;
    }

    60% {
        top: -190px;
        left: 235px;
        width: 25px;
        opacity: 0.6;
    }

    80% {
        top: -150px;
        left: 235px;
        width: 25px;
        opacity: 0.6;

    }

    100% {
        top: -80px;
        left: 235px;
        width: 25px;
        opacity: 0.6;
    }
}

@keyframes ball_3_move_measu {
    0% {
        top: 80px;
        left: 460px;
    }

    20% {
        top: -300px;
        left: 460px;
        opacity: 1;
    }

    40% {
        top: -300px;
        left: 235px;
        width: 40px;
        opacity: 1;
    }

    50% {
        top: -200px;
        left: 235px;
        width: 25px;
        opacity: 1;
    }

    60% {
        top: -190px;
        left: 235px;
        width: 25px;
        opacity: 0.6;
    }

    80% {
        top: -150px;
        left: 235px;
        width: 25px;
        opacity: 0.6;

    }

    100% {
        top: -80px;
        left: 235px;
        width: 25px;
        opacity: 0.6;
    }
}